<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style="background-color: rgb(218, 203, 203);">

  <div class="container-fluid">
    <h3>SpaceX Launch Programs</h3>
    <div class="row">
      <div class="col-md-2" style="background-color:lavender;">
      </div>
      <div class="col-md-10" style="background-color:lavender;">
          <div class="card mr-2" *ngFor="let project of data" style="width: 15rem;">
            <img class="card-img-top" src="{{project.links.mission_patch_small}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{project.mission_name}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>

<router-outlet></router-outlet>